<div id="b_container" class="animated fadeIn">
    <div class="row">
      <div class="col-md-4">
        <div class="card" ng-init="addBatchFlag = true">
          <div class="card-header">
            <i class="fa" ng-class="addBatchFlag ? 'fa-plus':'fa-pencil'"></i>{{addBatchFlag ? 'ADD STUREM' : 'EDIT STUREM'}}
          </div>
          <div class="card-body">
            <form action="" method="post">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-users"></i>
                    </span>
                  </div>
                  <input type="text" ng-model="batchName" id="batch" name="batch" class="form-control" placeholder="Batch">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-clock-o"></i>
                    </span>
                  </div>
                  <input type="text" ng-model="InTime" id="intime" name="intime" class="form-control" placeholder="In Time">
                </div>
              </div>
  
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-clock-o"></i>
                    </span>
                  </div>
                  <input type="text" ng-model="OutTime" id="outTime" name="outtime" class="form-control" placeholder="Out Time">
                </div>
              </div>
              <div class="form-group form-actions">
                <button ng-if="addBatchFlag" type="submit" class="btn btn-primary">
                  <i class="fa fa-dot-circle-o"></i> ADD</button>
                <button ng-if="!addBatchFlag" type="submit" class="btn btn-primary">
                  <i class="fa fa-pencil"></i> EDIT</button>
                <button ng-click="addBatchFlag=false" type="reset" class="btn btn-danger">
                  <i class="fa fa-ban"></i> CANCEL</button>
  
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Table
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Date registered</th>
                  <th>Role</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Samppa Nori</td>
                  <td>2012/01/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>Estavan Lykos</td>
                  <td>2012/02/01</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-danger">Banned</span>
                  </td>
                </tr>
                <tr>
                  <td>Chetan Mohamed</td>
                  <td>2012/02/01</td>
                  <td>Admin</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>Derick Maximinus</td>
                  <td>2012/03/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-warning">Pending</span>
                  </td>
                </tr>
                <tr>
                  <td>Friderik Dávid</td>
                  <td>2012/01/21</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>