<div class="col-md-4">
    <fieldset>
        <legend>Form Demo</legend>
        <form id="demoForm" name="demoForm" ng-submit="submitForm()">
            <div class="form-group">
                <label for="age">Age</label>
                <input only-digits ng-model="myage" name="myage" type="text" class="form-control" id="age" autocomplete="off" required>
                <div id="controlError" style="color:rgb(230, 72, 72);"></div>
            </div>

            <div class="form-group">
                <label for="age">Percent</label>
                <input only-digits-decimal ng-model="per" name="per" type="text" class="form-control" id="per" autocomplete="off" required>
                <div id="controlError" style="color:rgb(230, 72, 72);"></div>
            </div>

            <div class="form-group">
                <label for="age">Email</label>
                <input validate-email ng-model="email" name="email" type="email" class="form-control" id="email" autocomplete="off" required>
                <div id="controlError" style="color:rgb(230, 72, 72);"></div>
            </div>

            <div class="form-group">
                <label for="min">Contact</label>
                <input min-length="2" max-length="5" ng-model="contact" name="min" type="min" class="form-control" id="min" autocomplete="off"
                    required>
                <div id="controlError" style="color:rgb(230, 72, 72);"></div>
            </div>

            <div class="form-group">
                <label for="min">Gender</label>
                <input type="radio" name="gender" ng-model="gender" value="male" required/> : MALE
                <input type="radio" name="gender" ng-model="gender" value="female" required/> : FEMALE

                <!-- <div id="controlError" style="color:rgb(230, 72, 72);">{{ gender ? "" : "PLease Select a gender" }}</div> -->
            </div>


            <div class="form-group">
                <label for="min">isHuman</label>
                <input type="checkbox" ng-model="captcha" name="vehicle1" value="Bike" required>

                <!-- <div id="controlError" style="color:rgb(230, 72, 72);">{{ !captcha ? "" : "PLease Select a gender" }}</div> -->
            </div>
           

            <div class="form-group">
                <label for="min">Location</label>
                <input type="text" ng-model="lat" name="lat" placeholder="lattitude" required>
                <input type="text" ng-model="long" name="long"  placeholder="longitude"required>
                <ng-map center="18.5204, 73.8567" zoom="4" on-click="getpos($event)">
                    <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)" 
                        draggable="true"></marker>
                </ng-map>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </fieldset>
</div>