<div id="st_container" class="animated fadeIn">
        <div class="row">
          <div class="col-md-5">
            <div class="card" ng-init="addBatchFlag = true">
              <div class="col-md-12 card-header">
      
                <div class="">
                  <i class="fa" ng-class="addBatchFlag ? 'fa-plus':'fa-pencil'"></i> {{addBatchFlag ? 'ADD STUREM' : 'EDIT STUREM'}}
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-secondary">1</button>
                  <button type="button" class="btn btn-secondary">2</button>
                  <button type="button" class="btn btn-secondary">3</button>
                </div>
              </div>
      
              <div class="card-body">
      
                <form action="" method="post">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_fname" id="firstname" name="firstname" class="form-control" placeholder="First Name">
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_myddlename" id="middlename" name="middlename" class="form-control" placeholder="Middle Name">
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_lname" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-female"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_mothername" id="mothername" name="mothername" class="form-control" placeholder="Mother Name">
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-male"></i>
                          <i class="fa fa-female"></i>
                        </span>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input ng-model="st_gender" class="form-check-input" type="radio" id="st_male" value="option1" name="inline-radios">
                        <label class="form-check-label" for="st_male">Male</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input ng-model="st_gender" class="form-check-input" type="radio" id="st_female" value="option2" name="inline-radios">
                        <label class="form-check-label" for="st_female">Female</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input ng-model="st_gender" class="form-check-input" type="radio" id="st_other" value="option3" name="inline-radios">
                        <label class="form-check-label" for="st_other">Other</label>
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-users"></i>
                        </span>
                      </div>
                      <select id="batches" ng-model="batches='0'" name="batches" title="batches"
                        class="form-control">
                        <option value="0">Please select</option>
                        <option value="1">Morning</option>
                        <option value="2">Afternoon</option>
                        <option value="3">Evening</option>
                      </select>
                    </div>
                  </div>
      
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-book"></i>
                        </span>
                      </div>
                      <select id="subjects" ng-model="subjects='0'" name="subjects"
                        class="form-control">
                        <option value="0">Please select</option>
                        <option value="1">subjects</option>
                        <option value="2">subjects</option>
                        <option value="3">subjects</option>
                      </select>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-map"></i>
                        </span>
                      </div>
                      <textarea id="st_paddresss" name="st_paddresss" rows="3" class="form-control" placeholder="Permanent Addresss..."></textarea>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-map"></i>
                        </span>
                      </div>
                      <textarea id="st_caddresss" name="st_caddresss" rows="3" class="form-control" placeholder="Current Addresss..."></textarea>
      
                    </div>
      
                    <div class="">
                      <span class="input-group-text" style="border-top:0">
                        <input type="checkbox" id="st_sameAsPermanent" ng-model="sameAsPermanent" /> &nbsp; Same as permanent &nbsp;
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                      <input type="date" ng-model="st_dob" id="st_dob" name="st_dob" class="form-control" placeholder="Birth Date">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-envelope"></i>
                        </span>
                      </div>
                      <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-medkit"></i>
                        </span>
                      </div>
                      <select id="st_blood" ng-model="bloodgroup='null'" name="bloodgroup" title="Blood group"
                        class="form-control" >
                        <option value="null">SELECT</option>
                        <option value="o-">O-</option>
                        <option value="o-">O-</option>
                        <option value="o+">O+</option>
                        <option value="A-">A-</option>
                        <option value="A+">A+</option>
                        <option value="B-">B-</option>
                        <option value="B+">B+</option>
                        <option value="AB-">AB-</option>
                        <option value="AB+">AB+</option>
                      </select>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-phone"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_studentcontact" id="studentcontact" name="studentcontact" class="form-control" placeholder="Student Contact">
                    </div>
                    <div class="">
                      <span class="input-group-text" style="border-top:0">
                        <input type="checkbox" id="st_isStudentWhatsApp" ng-model="IsStudentWhatsApp" /> &nbsp; Is Whats App Available ? &nbsp;
                      </span>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-phone"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_parentcontact" id="parentcontact" name="parentcontact" class="form-control" placeholder="Parent Contact">
                    </div>
                    <div class="">
                      <span class="input-group-text" style="border-top:0">
                        <input type="checkbox" id="st_isParentWhatsApp" ng-model="IsParentWhatsApp" /> &nbsp; Is Whats App Available ? &nbsp;
                      </span>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-phone"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="st_emergencycontact" id="emergencycontact" name="emergencycontact" class="form-control" placeholder="Emergency Contact">
                    </div>
                    <div class="">
                      <span class="input-group-text" style="border-top:0">
                        <input type="checkbox" id="st_isEmergencyWhatsApp" ng-model="IsEmergencytWhatsApp" /> &nbsp; Is Whats App Available ?&nbsp;
                      </span>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                      <input type="date" ng-model="st_doj" id="st_doj" name="st_doj" class="form-control" placeholder="Joining Date">
                    </div>
                  </div>
      
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fa fa-medkit"></i>
                          </span>
                        </div>
                        <select id="st_school" ng-model="school='null'" name="school" title="School" ng-model="st_school"
                         class="form-control">
                          <option value="null">SELECT</option>                  
                          <option value="o-">O-</option>
                          <option value="o-">O-</option>
                          <option value="o+">O+</option>
                          <option value="A-">A-</option>
                          <option value="A+">A+</option>
                          <option value="B-">B-</option>
                          <option value="B+">B+</option>
                          <option value="AB-">AB-</option>
                          <option value="AB+">AB+</option>
                        </select>
                      </div>
                    </div>
      
                  <div class="form-group form-actions">
                    <button ng-if="addBatchFlag" type="submit" class="btn btn-primary">
                      <i class="fa fa-dot-circle-o"></i> ADD</button>
                    <button ng-if="!addBatchFlag" type="submit" class="btn btn-primary">
                      <i class="fa fa-pencil"></i> EDIT</button>
                    <button ng-click="addBatchFlag=false" type="reset" class="btn btn-danger">
                      <i class="fa fa-ban"></i> CANCEL</button>
      
                  </div>
                </form>
              </div>
            </div>
          </div>
      
          <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Simple Table
              </div>
              <div class="card-body">
                <table class="table table-responsive-sm">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Date registered</th>
                      <th>Role</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Samppa Nori</td>
                      <td>2012/01/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Estavan Lykos</td>
                      <td>2012/02/01</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-danger">Banned</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Chetan Mohamed</td>
                      <td>2012/02/01</td>
                      <td>Admin</td>
                      <td>
                        <span class="badge badge-secondary">Inactive</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Derick Maximinus</td>
                      <td>2012/03/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-warning">Pending</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Friderik Dávid</td>
                      <td>2012/01/21</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>